.paises_contenedor {
  /* margin-left: 150px;
  margin-right: 10px; */
  display: flex;
  justify-content: center;
  min-height: 75vh;
  flex-wrap: wrap;
  box-shadow: 0 10px 20px rgba(12, 9, 9, 0.3),
    0 0 100px rgba(15, 10, 10, 0.1) inset;
}

.botones_paginado {
  display: flex;
  /* margin-right: 10px; */
  margin-top: 5px;
  /* margin-left: 150px; */
  justify-content: center;
  box-shadow: 0 10px 20px rgba(12, 9, 9, 0.3),
    0 0 100px rgba(15, 10, 10, 0.1) inset;
}

.boton_boton {
  padding: 10px;
  margin: 5px;
  background-color: rgb(218, 226, 236);
  border: 1px solid rgb(122, 172, 248);
  transition: 0.5s;
}

.boton_boton:hover {
  cursor: pointer;
  border: 1px solid rgb(8, 89, 182);
}
