.detalle_contenedor {
  width: 50%;
  display: flex;
  justify-content: center;
  min-height: 300px;
  margin-left: 140px;
}

.detalle_contenedorgeneral {
  display: flex;
  justify-content: center;
  width: 100%;
}

.detalle_bandera {
  margin-top: 3px;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  box-shadow: 0 10px 20px rgba(12, 9, 9, 0.3),
    10px 10px 100px rgba(15, 10, 10, 0.1) inset;
}

.detalle_actividad {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
  width: 220px;
  height: 220px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(12, 9, 9, 0.3),
    10px 10px 100px rgba(15, 10, 10, 0.1) inset;
}

.detalle_contenedor_actividad {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.detalle_boton {
  cursor: pointer;
  text-align: center;
  background-color: rgb(218, 226, 236);
  border: 1px solid transparent;
  padding: 10px;
  border-color: rgb(122, 172, 248);
  margin-bottom: 5px;
  margin-top: 10px;
}
