.inicio_contenedor {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 1600px;
  height: 792px;
  background-image: url(../../../imagenes/tierra3.jpg);
  background-color: black;

  padding-left: 145px;
  padding-top: 60px;
}

.boton_inicio {
  cursor: pointer;
  padding: 7px;
  box-shadow: 0 10px 20px rgba(95, 82, 82, 0.3),
    0 0 100px rgba(95, 82, 82, 0.1) inset;
  border-radius: 50%;
  width: 705px;
  height: 710px;
  display: flex;
  justify-content: center;
  transition: 0.3s;
  text-decoration: none;
}

.boton_inicio:hover {
  box-shadow: 0 10px 40px rgba(255, 255, 255, 0.3),
    0 0 40px rgba(255, 255, 255, 0.1) inset;
}

.titulo {
  text-decoration: none;
  font-size: 80px;
  color: white;
}

.titulo_letra {
  margin-top: 250px;
  display: flex;
  justify-content: center;
}
