.inicio_contenedor{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 940px;
    background-image:url(../../../imagenes/tierra3.jpg) ;
    
}

.boton_inicio{
    cursor:pointer;
    padding: 5px;
    font-size: 20px;
    box-shadow:0 2px 8px rgba(223, 214, 214, 0.3), 0 0 40px rgba(211, 192, 192, 0.1) inset;
}
.titulo{
  font-size: 80px;
    color: white;
}
