.cabecera_contenedor {

    
    margin-left: 20px ;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    padding: 10px ;
    margin-bottom: 15px;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.cabecera_sub_contenedor{
    
    display: flex;
    justify-content: space-around;
    width: 90%;
    
}
.filtros_contenedor{
   
    display: flex;
    justify-content: space-around;
    width: 80%;
    
}
.select_filtro{
    cursor:pointer;
    padding: 10px;
    
}

.boton_crear{
    padding: 10px;
    
    border: 1px solid rgb(222, 226, 230);
    transition: 0.5s;
    
}

.boton_crear:hover{
    cursor:pointer;
    border: 1px solid rgb(113, 120, 128);

}
.clase_buscador{
    padding: 10px;

}

.clase_buscador:focus{
    
    border-radius: 5px;
}

