.paginado_contenedor{
    /* background-color: rosybrown; */
    margin-left: 20px ;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.paginado_ul{
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    list-style: none;
    
}

.paginado_li{
color: black;
text-decoration: none;
display: block;
padding: 10px;
border: 1px solid rgb(222, 226, 230);
cursor:pointer
}