.cabecera_contenedor {
  /* margin-left: 150px;
  margin-right: 10px; */
  display: flex;
  justify-content: center;
  padding: 5px;
  margin-bottom: 5px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3),
    1px 1px 20px rgba(5, 2, 2, 0.1) inset;
}

.cabecera_sub_contenedor {
  display: flex;
  justify-content: space-around;
  width: 90%;
}

.filtros_contenedor {
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.select_filtro {
  cursor: pointer;
  padding: 10px;
  background-color: rgb(218, 226, 236);
  border: 1px solid rgb(122, 172, 248);
}

.boton_crear {
  padding: 10px;
  transition: 0.5s;
  background-color: rgb(218, 226, 236);
  border: 1px solid rgb(122, 172, 248);
}

.boton_crear:hover {
  cursor: pointer;
  border: 1px solid rgb(113, 120, 128);
}

.clase_buscador {
  padding: 10px;
  background-color: rgb(218, 226, 236);
  border: 1px solid rgb(122, 172, 248);
}

.clase_buscador:focus {
  border-radius: 5px;
}
